@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .BlueGhostButton {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .RedGhostButton {
    color: hsl(358, 79%, 66%);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
